<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/favicon-64.png" />
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="http://www.aspenmesh.io">Aspen Mesh</a>
        <div class="collapse navbar-collapse" id="ecommerceNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog">Catalog</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="text-center py-5">
            <img class="d-block mx-auto mb-4" src="/images/aspenmesh.png" width="100" />
            <h2>Welcome</h2>
        </div>
        <div>
            <p class="lead">This is an example application to demonstrate Microservice constructs, such as:</p>
                <ul>
                    <li>Microservices with Spring Boot</li>
                    <li>RESTful clients and servers</li>
                    <li>Database per microservice design</li>
                    <li>Loose coupling through messaging</li>
                </ul>
            </p>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
