<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="'Details - ' + ${item.name}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/favicon-64.png" />
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="http://www.aspenmesh.io">Aspen Mesh</a>
        <div class="collapse navbar-collapse" id="ecommerceNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog">Catalog</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="text-center py-5">
            <img class="d-block mx-auto mb-4" src="/images/aspenmesh.png" width="100" />
            <h2>Item Details</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <img th:src="${item.imageSource}" width="200" />
            </div>
            <div class="col-8">
                <div>
                    <h4 th:text="${item.name}" />
                </div>
                <div>
                    <p><strong>Description:</strong> <span th:text="${item.description}" /></p>
                </div>
                <div>
                    <p><strong>Price:</strong> <span th:text="${#numbers.formatCurrency(item.amount)}"/></p>
                </div>
                <div>
                    <p><strong>In Stock:</strong> <span th:text="${item.inStock} ? 'Yes' : 'No'"/></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <div class="col-8">
                <div th:if="${item.inStock}">
                    <a class="btn btn-primary" role="button" th:href="'/order?id=' + ${item.id}">Order Now</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>